html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navindexevent{
    padding: 2rem;
}

.footerevent{
    padding: 2rem;
}

.bodyindex{
    display: flex;
    flex-direction: column;
}

.mainindex{
    height: auto;
}

.nav-container-admin{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionindex{
    padding-top:5rem;
}

.mt-5{
    width: 80vw;
    margin-top: 3rem !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom:5rem;
}

.event-card {
    width: 40%;
    max-width: 40rem;
    background-color: #FDFFFC;
    border-radius: 1.3rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: 0.2s;
}

.welcome-text{
    font-size: clamp(1rem, 2vw + 2rem, 4rem);
    font-weight: bold
}

.event-card:hover {
    transform: scale(1.03);
}

.event-img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.event-body {
    padding: 1.5rem;
    text-align: center;
}

.event-title {
    font-size:clamp(1rem, 2vw + 0.5rem, 3rem);
    font-weight: bold;
    color: #34aadc;
}

.event-date {
    font-size: 2rem;
    font-size:clamp(0.5rem, 1vw + 0.5rem, 2rem);
    margin-top: 0.5rem;
}

.sectors {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.pagination{
    padding-bottom:2rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.page-number{
    font-size: clamp(0.5rem, 1vw + 0.5rem, 2rem);
    padding:0.5rem;
    margin:0.5rem;
}

.current-page{
    font-weight:bold;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 2.5rem);
}