.mainindex{
    width: 100vw;
}
.section-admin{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 30%;
    max-height: 11rem;
    width: 40%;
    max-width: 30rem;
}
.text-welcome{
    font-size: clamp(0.5rem, 2vw + 2rem, 4rem);
    font-weight: bold;
    text-align: center;
    padding-bottom: 2.5rem;
}
.btn-add-event{
    background-color: #28a745;
}
.btn-view-event{
    background-color: #0083ef;
}
.btn-add-event,
.btn-view-event{
    font-size:clamp(1rem, 2vw + 0.5rem, 2.5rem);
    width: 100%;
    max-width: 40rem;
    border-radius: 1.3rem;
    border: none;
}
.btn-add-event:hover,
.btn-view-event:hover{
    font-weight: bold;
}
.btn-add-event:hover{
    background-color: #2d8f44;
}
.btn-view-event:hover{
    background-color: #0a65af;
}