.navindex{
    justify-content: flex-start;
}
.form-section{
    border-radius: 1rem;
    border: 1px solid black;
    width: 50rem;
}
form{
    padding: 2rem;
}
.text-form{
    font-size: 2rem;
    font-weight: bold;
}
#emailHelp{
    font-size: 1.5rem;
}
#InputEmailRegister,
#InputPasswordRegister,
#ConfirmInputPasswordRegister,
#InputEmailRegisterAdmin,
#InputPasswordRegisterAdmin,
#InputNameRegister,
#InputNameRegisterAdmin,
#ConfirmInputPasswordRegisterAdmin,
#InputEmailLoginAdmin,
#InputPasswordLoginAdmin,
#InputEmailLoginClient,
#InputPasswordLoginClient{
    font-size: 2rem;
}
.btn-register,
.btn-cancel{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}
.btn-cancel{
    margin-top: 2rem;
}